langchain==0.3.4
langchain-chroma==0.1.4
langchain-community==0.3.3
langchain-core==0.3.13
langchain-openai==0.2.4
langchain-text-splitters==0.3.0
ibm-watson-machine-learning==1.0.335
ibm-watsonx-ai==0.1.6
chromadb==0.5.16
Flask==3.0.2